/*****************   Generelle indstillinger *************************/


* {
    box-sizing: border-box;
    margin: 0rem;
}

img {
    max-width: 100%;
}

/*FONTS*/

@font-face {
    font-family: canada-type-gibson;

}


/*********************************************************************/

/*********************  Log-in site  ******************************/

body {
    margin: 0vw;
    width: 100%;
    background-color: #FAF7F7;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EA5045;
    width: 100%;
    height: 39vh;
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 13vw;
}


input {
    height: 11vw;
    width: 75vw;
    border-radius: 2em;
    border: 1px #eeee;
    margin-left: 11vw;
    font-family: canada-type-gibson;
    color: #EA5045;

}




#continue article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20vw;
}

#continue article a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 4vw;
}


#continue article img {
    margin: 2vw;
}


/*********************************************************************/

/*********************  Burgermenuen  ********************************/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(+100%);
    display: none;
}

#menuknap {
    display: inline-block;
    position: absolute;
    z-index: 15;
    right: 3vw;
}



/*postion får det til at ligge sig ovenpå det hele*/
#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: transform .3s;
    transform-origin: top left;
    background-color: #3F3140;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    text-align: center;
    z-index: 9;


}

#menu a {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 8vw;

}


#menu img {
    margin-top: 95px;
    margin-bottom: 60px;
    right: 5vw;
}




.footer {

    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #EA847C;
    height: 6vh;
    color: white;
    font-family: gibson, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

}


.footer p {
    margin-top: 2vw;
}




@media only screen and (min-width: 1200px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }


}


/*************************startside***********************************/



/****************************header***********************************/
.profil {
    position: absolute;
    right: 10vw;
}


.header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EA5045;
    width: 100%;
    height: 12vw;
    padding: 4vw;



}



/*******************************************************************/
/**************************boxene***********************************/


#startside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;



}


/*****************Overskrifter under ikoner **************************/

figcaption {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-left:





}


/***************** den mindste box **********************************/

.box_small {
    background-color: #FFFFFF;
    padding: 15px;
    width: 30vw;
    height: 29vw;
    margin-bottom: 2vw;


}

.box_small img {
    margin-left: 6vw;
    margin-top: 5vw;

}


/************************* den lange box *****************************/


.box_long {
    background-color: #FFFFFF;
    padding: 15px;
    width: 63vw;
    height: 29vw;
    margin-bottom: 2vw;

}

.box_long h1 {
    color: #EA847C;
    font-family: canada-type-gibson;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 98w;

}

/************************** den "store" box **************************/


.box_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.box_big {
    background-color: #FFFFFF;
    padding: 30px;
    width: 63.3vw;
    height: 60vw;
}



h2 {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 18vw;
    margin-left: 10vw;
}







/*********************************************************************/
/*************************  afleveringer  ****************************/



h1 {
    font-family: canada-type-gibson;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 5vw;
    margin-left: 5vw;
}

h3 {

    font-family: canada-type-gibson;
    color: #EA5045;
    margin-left: 5vw;
    font-weight: 600;


}

/*************************  grå box  ****************************/


.grey {
    background-color: #DEDCDB;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
}

.grey h4 {
    font-family: canada-type-gibson;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 7px;


}


.txt {
    font-family: canada-type-gibson;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 7px;

}

.txt2 {
    font-family: canada-type-gibson;
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 1rem;


}

.flexcontainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.link {
    /*
    position: relative;
    left: 82vw;
    bottom: 2vw;
*/
}

#pil {
    position: relative;
    left: 84vw;
    bottom: 2vw;
}

.link2 {
    position: relative;
    left: 75vw;
    bottom: 2vw;
}

#dropdown {
    background-color: white;
    list-style: none;
    background-size: 100%;
    margin: 0;
    font-family: canada-type-gibson;
    font-weight: 600;


}

#dropdown li {
    border: 1px solid #DEDCDB;
    padding: 2rem;
    list-style-position: outside;


}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*******************************************************************/
