* {
    box-sizing: border-box;
}


/*LOGIN SITE*/

body {
    margin: 0;
    width: 100;
    background-color: #FAF7F7;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EA5045;
    width: 100%;
    height: 40vw;
    margin: 0;
}

#login article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vw;
}


#login article img {
    margin: 2vw;
}


#continue article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vw;
}

#continue article a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vw;
}


#continue article img {
    margin: 2vw;
}

/*burgermenu*/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
}

@media only screen and (min-width: 1200px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}



/****startside****/



.header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: #EA5045;
    width: 100%;
    height: 12vw;
    padding: 4vw;



}


#box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;


}

.box1row {
    background-color: #FFFFFF;
    padding: 15px;
    width: 25vw;
    height: 25vw;
    margin-bottom: 2vw;


}

.box1row img {
    height: 55px;
    align-content: center;
    margin-left: 4vw;
    margin-top: 2vw;

}


.box2row {
    background-color: #FFFFFF;
    padding: 15px;
    width: 58vw;
    height: 25vw;
    margin-bottom: 2vw;

}
