* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%
}

/*FONTS*/

@font-face {
    font-family: canada-type-gibson;

}




/*LOGIN SITE*/

body {
    margin: 0;
    width: 100;
    background-color: #FAF7F7;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EA5045;
    width: 100%;
    height: 40vh;
    margin: 0;
}

#login article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vw;
}


#login article img {
    margin: 2vw;
}


#continue article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vw;
}

#continue article a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 4vw;
}


#continue article img {
    margin: 2vw;
}

/*******burgermenu***********/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(+100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;

    position: absolute;
    z-index: 4000;
}


#menuknap img {}



/*postion får det til at ligge sig ovenpå det hele*/
#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    background-color: #3F3140;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;



}

#menu a {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 5px;
}


#menu img {
    margin-top: 100px;
    margin-bottom: 60px;
}





#logud {
    color: white;
}



.footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #EA847C;
    height: 7vh;
    color: white;
    font-family: gibson, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    justify-content: center;
}


@media only screen and (min-width: 1200px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}


/********startside**********/



.header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EA5045;
    width: 100%;
    height: 12vw;
    padding: 4vw;



}


#box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;


}

.box1row {
    background-color: #FFFFFF;
    padding: 15px;
    width: 30vw;
    height: 29vw;
    margin-bottom: 2vw;


}

.box1row img {
    margin-left: 8vw;
}




.box2row {
    background-color: #FFFFFF;
    padding: 15px;
    width: 63vw;
    height: 29vw;
    margin-bottom: 2vw;

}

.box3row {
    background-color: #FFFFFF;
    padding: 15px;
    width: 63.3vw;
    height: 60vw;
    margin-bottom: 2vw;

}

h1 {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 9vw;
    margin-left: 10vw
}


.box_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box_right {}

#box_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;


}


#box_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
