* {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%
}

/*FONTS*/

@font-face {
    font-family: canada-type-gibson;

}




/*LOGIN SITE*/

body {
    margin: 0;
    width: 100;
    background-color: #FAF7F7;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EA5045;
    width: 100%;
    height: 39vh;
    margin: 0;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 13vw;
}


input {
    height: 9vw;
    width: 60vw;
    border-radius: 2em;
    border: 1px #eeee;
    margin-left: 20vw;
    font-family: ;
    color: #EA5045;

}




#continue article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20vw;
}

#continue article a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 4vw;
}


#continue article img {
    margin: 2vw;
}

/*******burgermenu***********/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(+100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    position: absolute;
    z-index: 4000;
    right: 3vw;
}



/*postion får det til at ligge sig ovenpå det hele*/
#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    background-color: #3F3140;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2000;



}

#menu a {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 5px;
}


#menu img {
    margin-top: 95px;
    margin-bottom: 60px;
    right: 5;
}




.footer {

    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background-color: #EA847C;
    height: 6vh;
    color: white;
    font-family: gibson, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

}


.footer p {
    margin-top: 2vw;
}




@media only screen and (min-width: 1600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}


/********startside**********/


.profil {
    position: absolute;
    right: 10vw;
}


.header2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EA5045;
    width: 100%;
    height: 12vw;
    padding: 4vw;



}

figcaption {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 0.9rem;
    align-items: baseline;

}


#box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;


}

.box1row {
    background-color: #FFFFFF;
    padding: 15px;
    width: 30vw;
    height: 29vw;
    margin-bottom: 2vw;


}

.box1row img {
    margin-left: 8vw;
    margin-top: 5vw;
}




.box2row {
    background-color: #FFFFFF;
    padding: 15px;
    width: 63vw;
    height: 29vw;
    margin-bottom: 2vw;

}

.box3row {
    background-color: #FFFFFF;
    padding: 30px;
    width: 63.3vw;
    height: 60vw;
}


.box2row h1 {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 9vw;
    margin-left: 10vw
}

h2 {
    color: #EA847C;
    font-family: gibson, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 18vw;
    margin-left: 15vw
}


.box_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#box_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;


}


#box_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}


/**********skema*****************/

/*************aflevering*******************/





h1 {
    font-family: canada-type-gibson;
    color: black;
    font-weight: 600;
    font-size: 2rem;
    margin-top: 9vw;
    margin-left: 5vw
}

h3 {

    font-family: canada-type-gibson;
    color: #EA5045;
    margin-left: 5vw;
    font-weight: 600;


}

.grey {
    background-color: #DEDCDB;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    height: 15vw;


    margin-bottom: 10vw;
}

.grey h4 {
    font-family: canada-type-gibson;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 7px;


}


.txt {
    font-family: canada-type-gibson;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 7px;

}

.link {
    position: relative;
    left: 84vw;
    bottom: 2vw;
}

#pil {
    position: relative;
    left: 84vw;
    bottom: 2vw;
}
