* {
    box-sizing: border-box;
}


/*LOGIN SITE*/

body {
    margin: 0;
    width: 100;
    background-color: #FAF7F7;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #EA5045;
    width: 100%;
    height: 30vw;
    margin: 0;

}

#login article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vw;
}


#login article img {
    margin: 2vw;
}


#continue article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 12vw;
}

#continue article a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 12vw;
}


#continue article img {
    margin: 2vw;
}


/****startside****/
